.text-gold {
  color: var(--luxury-gold) !important;
}
.wrapperv {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.gradient {
  background-image: radial-gradient(
    circle at -50% 50%,
    #000000,
    rgba(1, 1, 7, 0.6) 80%,
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.vcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 1;
}
.vcontainer h1 {
  color: #fff;
  font-size: 7rem;
  line-height: 1.4;
  font-weight: 200;
  letter-spacing: 4px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.vcontainer h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 15px;
  color: rgba(255, 255, 255, 0.5);
}

/* recomendations */
.section-luxury-recommendation {
  position: relative;
  padding: 8rem 0;
}
.section-luxury-recommendation--menu {
  position: absolute;
  top: 25%;
  left: 20.5%;
  width: 24%;
  transform: translate(-50%);
  transition: all 0.3s ease-out;
  z-index: 3;
}

.section-luxury-recommendation .col {
  background: var(--font-vd);
}

/* collection */
.section-luxury-collection {
  padding: 6rem 1rem;
}
.section-luxury-collection__container {
  display: flex;
  align-items: center;
}
.section-luxury-collection--img {
  width: 65%;
}
.section-luxury-collection--body {
  width: 25%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.section-luxury-collection--body * {
  line-height: 1.3;
}
.section-luxury-collection--body h1 {
  font-weight: 500;
  font-size: 9rem;
  letter-spacing: 1px;
}
.section-luxury-collection--body h2 {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}
.section-luxury-collection--body h3 {
  font-size: 9rem;
  font-weight: 200;
  margin-left: -55%;
}
.section-luxury-collection--body p {
  font-family: initial;
  margin-left: -30%;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .section-luxury-collection {
    padding: 2rem 0.5rem;
  }
  .section-luxury-collection__container {
    flex-direction: column;
  }
  .section-luxury-collection--img {
    width: 100%;
  }
  .section-luxury-collection--body {
    width: 100%;
    padding-right: 4rem;
  }
  .section-luxury-collection--body h1 {
    text-align: right !important;
    font-size: 4rem;
  }
  .section-luxury-collection--body h2 {
    font-size: 2rem;
    text-align: right !important;
  }
  .section-luxury-collection--body h3 {
    text-align: right !important;
    font-size: 4.5rem;
    margin-left: 0px;
  }

  .section-luxury-collection--body p {
    text-align: right !important;
    font-size: 1.6rem;
  }
}
/* Section list */
.section-luxury-list {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 55vh;
  overflow: hidden;
}
.section-luxury-list--banner {
  width: 30%;
  overflow: hidden;
  position: relative;
}
.section-luxury-list__container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-luxury-list--crousel {
  width: 70%;
  padding-right: 20px;
}

/* collist */
.collist {
  position: relative;
  width: 100%;
  height: 55vh;
  outline: none;
  border-top: 1px solid var(--font-d);
  border-left: 1px solid var(--font-d);
  border-bottom: 1px solid var(--font-d);
}

.collist:focus {
  outline: none;
  border: none;
}

.collist--img {
  width: 100%;
  height: 100%;
}
.collist--img img {
  width: 100%;
  height: 100%;
}
.collist:hover .collist--body {
  opacity: 1;
  bottom: 20px;
  visibility: visible;
}
.collist--body {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 90%;
  transform: translate(-50%);
  color: #fff;
  background: var(--font-vd);
  padding: 1rem 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out;
}
.collist--body h1 {
  font-size: 1.8rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.collist--body h2 {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}
.section-luxury-collection--body h3 {
  font-size: 9rem;
  font-weight: 200;
  margin-left: -55%;
}
.section-luxury-collection--body p {
  font-family: initial;
  margin-left: -30%;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .section-luxury-collection {
    padding: 2rem 0.5rem;
  }
  .section-luxury-collection__container {
    flex-direction: column;
  }
  .section-luxury-collection--img {
    width: 100%;
  }
  .section-luxury-collection--body {
    width: 100%;
    padding-right: 4rem;
  }
  .section-luxury-collection--body h1 {
    text-align: right !important;
    font-size: 4rem;
  }
  .section-luxury-collection--body h2 {
    font-size: 2rem;
    text-align: right !important;
  }
  .section-luxury-collection--body h3 {
    text-align: right !important;
    font-size: 4.5rem;
    margin-left: 0px;
  }

  .section-luxury-collection--body p {
    text-align: right !important;
    font-size: 1.6rem;
  }
}
/* Section list */
.section-luxury-list {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 75vh;
  overflow: hidden;
}
.section-luxury-list--banner {
  width: 40%;
  overflow: hidden;
}
.collist--body a {
  font-size: 1.2rem;
}
