.text-gold {
  color: var(--luxury-gold) !important;
}
.text-silver {
  color: var(--luxury-silver) !important;
}
.pt-none {
  padding-top: 0 !important;
}
.mt-none {
  margin-top: 0 !important;
}
.bg-luxury {
  background: #0b0c0e !important;
}
.bg-black {
  background: #000;
}
/* -=========================================HOME========================================- */
.section-changestore {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.changestore-center {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.changestore-center::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--cream-d);
  width: 100%;
  height: 1px;
  z-index: 2;
}
.changestore-head {
  transition: all 0.2s ease-out;
  position: relative;
  flex: 1;
  height: 100vh;
  width: 50%;
}
.changestore-head::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333333;
  font-size: 10rem;
  z-index: 5;
  cursor: pointer;
}
.changestore-head::after {
  position: absolute;
  content: "";
  top: 60%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #333333;
  font-size: 2rem;
  z-index: 5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.changestore-men {
  background: #fff;
}
.changestore-men::before {
  content: "men";
}
.changestore-men:hover {
  background: #82cac4;
}
.changestore-men:hover::before {
  color: #fff;
}
.changestore-women {
  background: #fff;
}
.changestore-women::before {
  content: "women";
}
.changestore-women:hover {
  background: #d48094;
}
.changestore-women:hover::before {
  color: #fff;
}
.changestore-lifestyle {
  background: #fff;
}
.changestore-lifestyle:hover {
  background: var(--luxury-silver);
}
.changestore-lifestyle::before {
  content: "Lifestyle";
}
.changestore-lifestyle::after {
  content: "Classic fashion shop with exclusive designers from all over the world";
}

.changestore-luxury {
  background: #fff;
}
.changestore-luxury:hover {
  background: var(--luxury-gold);
}
.changestore-luxury::before {
  content: "Luxury";
}
.changestore-luxury::after {
  content: "Feel the premium luxury brands with luxury store";
}
.changestoreui {
  position: fixed;
  z-index: 9000;
  top: 70%;
  left: 50%;
  backdrop-filter: blur(2px);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}
.changestorebutton {
  position: fixed;
  z-index: 9001;
  bottom: 100px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-out;
  font-size: 2rem;
  background: #0b0c0e;
}

.wrapperv {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.gradient {
  background-image: radial-gradient(
    circle at -50% 50%,
    #000000,
    rgba(1, 1, 7, 0.6) 80%,
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.vcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 1;
}
.vcontainer h1 {
  color: #fff;
  font-size: 7rem;
  line-height: 1.4;
  font-weight: 200;
  letter-spacing: 4px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.vcontainer h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 15px;
  color: rgba(255, 255, 255, 0.5);
}

/* Section list */
.section-luxury-list {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 75vh;
  overflow: hidden;
}
.section-luxury-list--banner {
  width: 40%;
  overflow: hidden;
}
.collist--body a {
  font-size: 1.2rem;
}

/* Section Apps*/
.section-apps {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apps-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 4.5rem;
}
.apps-item span {
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.apps-item * {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 0 0.5rem;
  display: inline-block;
}

/* section trending subs */
.section-trending-sub {
  width: 100%;
  background: #000;
  padding: 16rem 0;
  display: flex;
  height: auto;
  overflow: hidden;
  align-items: center;
}
.trending-sub {
  flex: 1;
  height: 80vh;
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
}
.trending-sub--img {
  width: 100%;
  transition: all 0.6s ease-in;
  height: auto;
}
.trending-sub--img img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-out;
  filter: grayscale(100%);
}

.trending-sub:hover .trending-sub--img img {
  filter: grayscale(0%);
}
.trending-sub:hover .trending-sub-container {
  bottom: 50px;
}
.trending-sub:hover .trending-sub-container p {
  opacity: 1;
  visibility: visible;
}
.trending-sub-container {
  position: absolute;
  transition: all 0.3s ease-out;
  bottom: -20px;
  left: 40px;
}
.trending-sub-container h1 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.trending-sub-container h3 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
}
.trending-sub-container p {
  position: relative;
  color: #fff;
  font-size: 1.4rem;
  width: 90%;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
}
.trending-sub-container p::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

/* luxury featured item */
.section-featured-item {
  background: linear-gradient(#000, #080808);
  padding: 14rem 18rem;
}
.section-featured-item .para {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.featured-item-container {
  display: flex;
}
.featured-item {
  display: flex;
}
.featured-item--img img {
  height: auto;
  width: 150px;
}
.featured-item--body {
  padding: 3rem;
}
.featured-item--body h4 {
  color: var(--luxury-silver);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.featured-item--body h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 4px;
}
.featured-item--body p {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

/* Section Luxury Categories */
.section-luxury-categories {
  background: #000;
  padding-top: 10rem;
}
.section-luxury-categories .category-item {
  background: #000;
}
.section-luxury-categories .category-item:hover {
  box-shadow: 0px 0px 15px 10px rgba(155, 125, 26, 0.2);
}
.section-luxury-categories .category-name {
  color: #c1c1c1;
  font-weight: 400;
  letter-spacing: 1px;
}

.section-luxury-adv {
  width: 100vw;
  height: 100vh;
  background: url("/assets/luxury/banner-adv.webp") no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}
.section-luxury-adv__container {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
}
.section-luxury-adv h1 {
  font-size: 6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
}
.section-luxury-adv p {
  line-height: 2;
  margin-top: 10px;
  font-size: 1.55rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  width: 45%;
  color: var(--luxury-silver);
}

/* Section top brands */
.section-luxury-topbrands {
  background: linear-gradient(#080808, #141414);
  padding-top: 20rem;
  padding-bottom: 8rem;
  position: relative;
}
.section-luxury-topbrands--title {
  position: absolute;
  color: #111111;
  font-size: 12rem;
  font-weight: 800;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  letter-spacing: 100px;
  text-transform: uppercase;
}
.luxury-topbrands {
  display: flex;
  align-items: center;
}
.luxury-topbrand--item {
  flex: 1;
  height: auto;
  width: 60%;
  margin: 0 20px;
  text-align: center;
  transition: all 0.3s ease-out;
}
.luxury-topbrand--item:hover {
  background: var(--font-d);
}
.luxury-topbrand--item img {
  height: auto;
  width: 60%;
}
/* recomendations */
.section-luxury-recommendation {
  position: relative;
  padding: 8rem 0;
  background: linear-gradient(#141414, #333333);
}
.section-luxury-recommendation--menu {
  position: absolute;
  top: 25%;
  left: 20.5%;
  width: 24%;
  transform: translate(-50%);
  transition: all 0.3s ease-out;
  z-index: 3;
  mix-blend-mode: difference !important;
}

/* collection */
.section-luxury-collection {
  width: 100vw;
  overflow: hidden;
}
.section-luxury-collection__container {
  width: 100%;
  height: 95vh;
  background: url("/assets/luxury/section-fw.webp");
  background-position: top;
  overflow: hidden;
  background-size: cover;
  position: relative;
}

.section-luxury-collection--body {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: right !important;
  color: #fff;
}
.section-luxury-collection--body * {
  line-height: 1.4;
}
.section-luxury-collection--body h1 {
  font-weight: 500;
  font-size: 9rem;
  letter-spacing: 1px;
}
.section-luxury-collection--body h2 {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
}
.section-luxury-collection--body h3 {
  font-size: 9rem;
  font-weight: 200;
}

/* Section list */
.section-luxury-list {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 55vh;
  overflow: hidden;
}
.section-luxury-list--banner {
  width: 30%;
  overflow: hidden;
  position: relative;
}
.section-luxury-list__container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-luxury-list--crousel {
  width: 70%;
  padding-right: 20px;
}

@media only screen and (max-width: 1024px) {
  .changestorebutton {
    bottom: 60px;
    right: 10px;
    padding: 1.2rem;
    font-size: 1.6rem;
  }
  .changestore-center {
    flex-direction: column !important;
  }
  .changestore-head {
    width: 100% !important;
  }
  .wrapperv {
    background: url("/assets/luxury/luxurybg-fallback.webp");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
  .wrapperv video {
    display: none;
  }
  .wrapperv .gradient {
    display: none;
  }
  .vcontainer {
    width: 90%;
    top: 20%;
  }
  .vcontainer h1 {
    font-size: 4rem;
  }
  .section-luxury-recommendation--menu {
    left: 15%;
    display: none;
  }

  .section-luxury-collection__container {
    background: url("/assets/luxury/section-fw-mobile.webp");
    background-position: top;
    background-size: cover;
    text-align: center !important;
    position: relative;
  }
  .section-luxury-collection--body {
    width: 90%;
    top: 18%;
    left: 50%;
    text-align: center !important;
    transform: translate(-50%, -50%);
  }
  .section-luxury-collection--body * {
    line-height: 1.4;
    text-align: center;
  }
  .section-luxury-collection--body h1 {
    display: inline-block;
    font-size: 1.8rem;
  }
  .section-luxury-collection--body h2 {
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 5px;
  }
  .section-luxury-collection--body h3 {
    font-size: 3rem;
  }

  .section-apps {
    overflow-x: scroll;
    margin: 0 1rem;
  }
  .apps-item {
    padding: 2rem 2rem;
  }
  .section-trending-sub {
    flex-direction: column;
    height: 1500px;
  }
  .trending-sub {
    width: 100%;
    height: 1500px;
  }
  .trending-sub--img {
    width: 100%;
    transition: all 0.3s ease-out;
    height: auto;
  }
  .trending-sub--img img {
    width: 100%;
    height: auto;
  }
  .trending-sub-container {
    left: 15px;
  }
  .trending-sub-container h1 {
    font-size: 1.8rem;
  }
  /* featured item */
  .section-featured-item {
    padding: 8rem 1.5rem;
  }
  .section-featured-item .para {
    width: 100%;
  }
  .featured-item-container {
    flex-direction: column;
  }
  .featured-item {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .featured-item--img {
    text-align: center;
  }
  .featured-item--img img {
    height: auto;
    width: 150px;
  }
  .featured-item--body {
    padding: 0.5rem;
    text-align: center;
  }
  .featured-item--body h4 {
    font-size: 1.6rem;
  }
  .featured-item--body h1 {
    font-size: 2.4rem;
    letter-spacing: 3px;
  }
  .featured-item--body p {
    font-size: 1.25rem;
  }
  .section-luxury-adv__container {
    left: 50%;
    width: 90%;
    text-align: center;
  }
  .section-luxury-adv h1 {
    font-size: 4rem;
  }
  .section-luxury-adv p {
    font-size: 1.45rem;
    width: 100%;
  }
  .changestore-head::before {
    top: 40%;
  }
  .changestore-head::after {
    top: 70%;
  }
  .section-luxury-topbrands--title {
    font-size: 4rem;
    top: 20%;
    letter-spacing: 20px;
  }
}
