/*  ------------------------------------------------NAVIGATION-------------------------------------------- */
.warn-text {
  color: rgb(214, 58, 97) !important;
}
.active.navigation {
  transition: height 0.3s ease-out;
  height: 60px;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
}
.active.navigation .logo > div {
  flex-direction: row;
}
.active.navigation .logo > div > span {
  letter-spacing: 1px !important;
  font-size: 1.65rem;
}
.active.navigation .logo > div > span:nth-child(3) {
  margin-left: 0px;
}
.active.navigation .wrapper-search {
  height: 60px;
}
.active.navigation .wrapper-search input {
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
}

.active.navigation .wrapper-cart {
  transition: all 0.2s ease-out;
  top: 60px;
}
.active.navigation .wrapper-menu {
  transition: all 0.2s ease-out;
  top: 60px;
}
.active.navigation .wrapper-images {
  transition: all 0.2s ease-out;
  top: 60px;
}
/* theme */
.dark {
  background: #0b0c0e !important;
  color: #fff !important;
}
.dark.navigation .toggle > span {
  background: #fff;
}
.dark.navigation .wrapper-menu {
  background: #0b0c0e;
}
.dark.navigation .wrapper-search {
  background: #222;
}
.dark.navigation .wrapper-cart {
  background: #0b0c0e;
}
.dark.navigation .wrapper-cart__details {
  background: #0b0c0e;
  color: #fff;
}
.dark.navigation .wrapper-cart__summary {
  background: #111;
  color: #fff;
}
.dark.navigation .account-card {
  background: #111;
}
.dark.navigation .account-card::before {
  background: #111;
}
.dark.navigation .account-card a {
  color: #fff;
}
.navigation {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 60px;
  z-index: 1000 !important;
  position: fixed;
  background: #fff;
  color: inherit;
  box-shadow: 0;
  transition: height 0.3s ease-out;
}
/* TOGGLE */
.navigation .toggle {
  cursor: pointer;
  width: 125px;
  height: 60px;
  position: relative;
  z-index: 1002;
}
.navigation .toggle > span {
  position: absolute;
  top: 38%;
  left: 0;
  width: 35px;
  height: 2px;
  background: #111;
}
.navigation .toggle > p {
  position: absolute;
  top: none;
  bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 0.8;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
  left: 3px;
}
.navigation .toggle:hover > p {
  opacity: 0;
}
.navigation .toggle > span:nth-of-type(2) {
  top: 56%;
}

/* LOGO */
.navigation .logo {
  position: relative;
  z-index: 1002;
  width: 100px;
  color: inherit;
}

.navigation .logo > div > span {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
}
.navigation .logo > div > span:nth-child(1) {
  letter-spacing: 6.5px;
}
.navigation .logo > div > span:nth-child(2) {
  letter-spacing: 6.5px;
}
.navigation .logo > div > span:nth-child(3) {
  letter-spacing: 9.5px;
  margin-left: 3.5px;
}
.navigation .logo > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo-img {
  width: auto;
  height: 25px;
  margin-right: 4px;
}
.logo-img img {
  width: auto;
  height: 25px;
}
.logo-text {
  color: #111;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

/* ACTIONS */

.navigation .actions > span {
  width: 45px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer !important;
  display: inline-block;
  text-align: center;
  z-index: 1008;
}

.navigation > .actions > span > img {
  width: 35px;
  height: 32px;
  position: relative;
  z-index: 1009;
}
.navigation > .actions > span > p {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 0.8;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
}
/* ------------ wrapper menu ---------- */
.wrapper-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 0;
  height: 100vh;
  mix-blend-mode: screen;
  z-index: 1001;
  background: #fff;
  /* background: var(--cream-d); */
  box-shadow: 2px 2px 40px rgba(107, 107, 107, 0.15);
  opacity: 0;
}
/* .wrapper-menu::after {
  position: absolute;
  content: "";
  top: 0;
  right: -50%;
  width: 50%;
  height: 100vh;
  background: #fff;
  z-index: -1;
} */
.wrapper-menu > .menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 6rem 8rem;
}
.wrapper-menu .menu ul {
  list-style: none;
}

.wrapper-menu .menu ul li {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-left: 10px;
  cursor: default;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

#menu {
  background: linear-gradient(#3e3e3e, #3e3e3e) left no-repeat, var(--font-l);
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
  position: relative;
  z-index: 1002;
}
#menu:hover {
  background-size: 100% 100%;
}
#count {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #3e3e3e;
  font-family: "Roboto";
  font-weight: 900;
}
/* Social */
.social {
  position: absolute;
  bottom: 25%;
  left: 16%;
  transform: translate(-50%, -50%);
  display: flex;
  list-style: none;
}
.social > li {
  padding: 0 10px;
  font-size: 2rem;
}
.social > li > a {
  color: #3e3e3e;
}

/* wrapper-search */

.wrapper-search {
  position: absolute;
  right: 0;
  top: 0;
  background: #f9fafc;
  width: 0;
  height: 80px;
}

.wrapper-search > form > input {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  padding: 0 140px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
}
.wrapper-search > .autolist {
  padding: 0 140px;
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  background: #fff;
  height: 210px;
  border: 1px solid #eee;
  transition: all 0.3s ease-out;
}
.wrapper-search > .autolist > li {
  padding: 8px 0;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
.wrapper-search > .autolist > li:not(:nth-of-type(1)) {
  border-top: 1px solid #eee;
}
.wrapper-search > .autolist > li > a {
  color: rgba(107, 107, 107, 0.5);
}
.wrapper-search > .autolist > li > a:hover {
  color: #0eaf94;
}
/* CART */

.wrapper-cart {
  position: fixed;
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  height: 100vh;
  /* changed */
  width: 0;
  background: #f9fafc;
  z-index: 1000;
}
.wrapper-cart--x {
  position: absolute;
  top: 20px;
  right: -20px;
  opacity: 0;
  visibility: hidden;
}
.wrapper-cart--x ion-icon {
  cursor: pointer;
  font-size: 3rem;
}
.wrapper-cart__details {
  opacity: 0;
  visibility: hidden;
  flex: 1;
  background: #fff;
  color: var(--font);
  padding-top: 2.5rem;
  padding-left: 3rem;
  padding-right: 1rem;
}
.wrapper-cart__details--title {
  font-size: 3.6rem;
  color: inherit;
}
.wrapper-cart__table {
  margin-top: 4rem;
  width: 100%;
}
.wrapper-cart__table--img {
  width: 50px;
  height: auto;
}
.wrapper-cart__table--img img {
  width: 100%;
  height: auto;
}
.wrapper-cart__table--name {
  padding-left: 5px;
}
.wrapper-cart__table--name h2 {
  font-weight: 400;
  font-size: 1.8rem;
}
.wrapper-cart__table--name h5 {
  color: inherit;
}
.wrapper-cart__table--quantity ion-icon {
  font-size: 2.5rem;
  color: inherit;

  cursor: pointer;
}
.wrapper-cart__table--quantity span:nth-last-of-type(2) {
  position: relative;
  top: -5px;
  font-size: 1.8rem;
  font-weight: 300;
}
.wrapper-cart__table--delete {
  width: 100px;
}
.wrapper-cart__table--delete ion-icon {
  font-size: 2rem;
}
.wrapper-cart__table th {
  padding-right: 2rem;
  font-size: 1.2rem;
  color: inherit;
  text-align: left;
}
.wrapper-cart__table td {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  padding-top: 4rem;
}
.wrapper-cart__summary {
  opacity: 0;
  visibility: hidden;
  width: 25%;
  padding-top: 9.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.inherit {
  color: inherit !important;
}
/* Account Card */
.account--trigger {
  position: relative;
  z-index: 904;
  right: 0;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.account--trigger .account-card {
  position: absolute;
  top: 60px;
  right: -45px;
  background: #fff;
  padding: 1.4rem 1rem 1rem 2rem;
  min-width: 150px;
  max-width: 200px;
  border-radius: 2px;
  box-shadow: 3px 0 12px rgba(62, 62, 62, 0.15);
  text-align: left !important;
}
.account--trigger .account-card::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 16px;
  height: 20px;
  transform: rotate(45deg);
  top: -8px;
  left: 55%;
  border-radius: 4px;
}
.account--trigger .account-card li {
  list-style: none;
  padding: 0.2rem 0;
}
.account--trigger .account-card li:hover a {
  color: #0eaf94;
}
.account--trigger .account-card h5 {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 1.35rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #6b6b6b;
}
@media only screen and (max-width: 1024px) {
  .navigation {
    padding: 0 10px 0 10px;
  }
  .navigation .toggle {
    width: 120px;
  }
  .wrapper-menu > .menu {
    padding: 2rem;
  }
  .wrapper-menu .menu ul li {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .navigation .actions > span {
    width: 45px;
    height: 30px;
    margin-right: 0;
  }
  .navigation > .actions > span > img {
    width: 30px;
    height: 30px;
  }
  .account--trigger .account-card {
    right: -10px;
    top: 55px;
    padding: 1rem 1rem;
  }
  .wrapper-search > input {
    padding: 0 20px;
  }
  .account--trigger .account-card::before {
    left: 80%;
  }
  .wrapper-cart {
    flex-direction: column;
  }
  .wrapper-cart__details {
    padding-top: 5rem;
    padding-left: 2rem;
  }
  .wrapper-cart__details--title {
    font-size: 2.8rem;
  }
  .wrapper-cart__table {
    margin-top: 2rem;
  }
  .wrapper-cart__table--img {
    width: 40px;
  }
  .wrapper-cart__table--name h2 {
    font-size: 1.6rem;
  }
  .wrapper-cart__table--quantity ion-icon {
    font-size: 2rem;
  }
  .wrapper-cart__table--quantity span:nth-last-of-type(2) {
    font-size: 1.4rem;
  }
  .wrapper-cart__table--delete {
    width: 50px;
  }
  .wrapper-cart__table--delete ion-icon {
    font-size: 1.8rem;
  }
  .wrapper-cart__summary {
    width: 100%;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
  }

  .wrapper-search > form > input {
    padding: 0 20px;
  }
  .wrapper-search > .autolist {
    padding: 0 20px;
  }
  .navigation .toggle > p {
    bottom: 8px;
    font-size: 0.7rem;
    letter-spacing: 0px;
    font-weight: 400;
  }
}
/* CURSOR */
.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid var(--cream-d);
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 250ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  mix-blend-mode: difference !important;
  z-index: 9999 !important;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: var(--cream-d);
}
.cursor--select-hovered {
  transform: translate(-50%, -50%) scale(0.55);
  background-color: var(--font-vd);
}
.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: var(--cream-d);
}

/* new Nav */
.v-nav {
  width: 100%;
  height: 8rem;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background: #fff;
  padding: 0 8rem;
}
.v-logo {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.v-searchbar {
}
.v-searchbar input {
  background: var(--cream);
  width: 480px;
}
.v-actions {
  display: flex;
  align-items: center;
}
.v-actions h4 {
  font-family: "Roboto", sans-serif;
  margin: 0 1.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}
